@page "/ViewText"

@inject AzureTestBlazor.Shared.ViewText viewText

<h3>ViewText</h3>

<div class="panel panel-default">
    <div class="panel-heading">@Title</div>
    <div class="panel-body">@Content</div>

</div>

@code {      
    [Parameter]
    public string Title { get; set; } = "no Title";
    public string Content { get; set; } = "no Content";

    protected override void OnInitialized()
    {
        Title = viewText.Title;
        Content = viewText.Content;
        //base.OnInitialized();
    }
}
